<section class="page-content">
	<div class="container">
	<a name="roll1"></a>
	<div class="row" id="roll1">

		<div class="title-accent">
			<h3>What does Makoto Mean?</h3>
		</div>
				<blockquote data-animation="fadeInLeft">
					<div class="row">
							<div class="col-md-2" align="center">
								<img src="{{asset("assets/images/chen.png")}}" alt="Stability"></img>
							</div>
							<div class="col-md-10">
                                {{ data['What_does_Makoto_Mean'][0].blockContent | raw }}
							</div>

					</div>
				</blockquote>
				<blockquote data-animation="fadeInLeft">
					<div class="row">
						<div class="col-md-2" align="center">
							<img src="{{asset("assets/images/zhen.png")}}" alt="Stability"></img>
						</div>
						<div class="col-md-10">
                            {{ data['What_does_Makoto_Mean'][1].blockContent | raw }}
						</div>
					</div>
				</blockquote>
				<blockquote data-animation="fadeInLeft">
					<div class="row">
						<div class="col-md-2" align="center">
							<img src="{{asset("assets/images/xin.png")}}" alt="Stability"></img>
						</div>
						<div class="col-md-10">
                            {{ data['What_does_Makoto_Mean'][2].blockContent | raw }}
						</div>
					</div>
				</blockquote>
		</div>
	</div>
</section>