<!-- Page Heading -->
<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Other Services</h1>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb">
                    <li><a href="{{url('makoto_cms_homepage')}}">Makoto's DNA</a></li>
                    <li><a href="{{url('cms_makoto_pages' , {'template_name' : 'service' , '_format': 'makoto'} )}}">Services</a></li>
                    <li class="active">Consulting</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Heading / End -->

<!-- Page Content -->
<section class="page-content">
    <div class="container">
        
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box squared icon-box-animated">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="icon-box-body">
                        <div class="title-accent">
                        <h3>Global lean deployment programs implementation</h3>
                        </div>
                        <img src="{{asset("assets/images/global-lean.jpg")}}" width="100%">
                        With our core systematic 4 Phased Approach to Lean Deployment, we are poised to support any organization in a multitude of languages in achieving their desired state of true operational excellence. From initial concept to full scale deployment and via many world renown methodologies, we are poised to develop and support your local / global needs.  
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box squared icon-box-animated">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="icon-box-body">
                        <div class="title-accent">
                        <h3>Overseas Plant Training</h3>
                        </div>
                        <img src="{{asset("assets/images/plant.jpg")}}" width="100%">
                        “Learning by Doing” is a critical element to the sustainment of any change management effort, especially the Makoto Way.  From this perspective, we have the capability to drive effective learning throughout the operational & transactional environments of any company.  In fact, we design / customize learning for your in-house training & certification opportunities that support operational excellence initiatives.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box squared icon-box-animated">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="icon-box-body">
                        <div class="title-accent">
                        <h3>TOP Line Kaizen (Service / Sales)</h3>
                        </div>
                        <img src="{{asset("assets/images/line.jpg")}}" width="100%">
                        Most improvements in business today shy away from Sales, Finance, Research & Development as well was New Product Design.  Fortunately, we have a well defined method of supporting these kinds of efforts that ensures lead time reductions, quality outputs and most importantly customer connections.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box squared icon-box-animated">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="icon-box-body">
                        <div class="title-accent">
                        <h3>Multi-Cultural Adaptation Training for Leaders Going overseas</h3>
                        </div>
                        <img src="{{asset("assets/images/being.jpg")}}" width="100%">
                        Gaining impactful insights to your next country of operations requires knowledge of history, culture sensitivities, traditions & common survival skills that enable you to quickly & smoothly integrate into the local society.  This unique & customized learning creates opportunities for greater success as the world continues to grow globally.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box squared icon-box-animated">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="icon-box-body">
                        <div class="title-accent">
                        <h3>How to be a successful lean leader in Japan?</h3>
                        </div>
                        <img src="{{asset("assets/images/successful.jpg")}}" width="100%">
                        Japan has a lot of unwritten rules, which once understood open the whole country & its wealth of knowledge to you.  We offer this service as a olive branch to those who desire to create and sustain meaningful business relationship in Japan.  Learn life long lessons that will inspire your hosts in a short period of time allowing you the opportunity to be effective at making inroads into the Japan market with us.
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Page Content / End -->